.custom-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .navbar {
    position: relative;
    z-index: 1000; /* Add this line */
  }
  
  .dropdown-content {
    z-index: 1001; /* Add this line to ensure dropdown is above the navbar */
  }